<div class="mr-auto col-5 text-center" id="user_avatar">
  <div class="avatar-big-wrapper mb-4 d-inline-block border rounded-circle">
    <%= image_tag get_user_avatar(current_user), class: 'rounded-circle img-fluid' %>
  </div>

  <div>
    <label class="btn btn-success">
      Change <input type="file" id="avatar_picker_trigger" hidden accept="image/x-png,image/jpeg" />
    </label>
  </div>

  <div
    class="modal fade"
    id="avatar_picker_modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="avatar_picker_modal"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div>
            <img id="avatar_preview" src="" class="img-fluid" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="avatar_picker_save">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

