<div
  id="user_avatar_viewer"
  class="avatar-big-wrapper mb-4 d-block border rounded-circle mx-auto"
>
<%= user_avatar current_user, resize: "256x256", html: { class: 'rounded-circle img-fluid' } %>
</div>
