ul class="list-group list-group-flush" id="pod_comments_#{@pod.id}"
  - comments.each do |comment|
    = render partial: "comments/comment",
             locals: { comment: comment, reaction: reactions[comment.id] }
