<div class="mx-auto py-4 col-12 col-md-7 col-lg-5">
  <h3 class="text-center mb-4 font-weight-light">
    <%= title || "Sudo Form" %>
  </h3>

  <div class="card">
    <div class="card-body">
      <%= yield %>
    </div>
  </div>

  <%= render "devise/shared/links" %>
</div>
