<div class="col-12 col-lg-10 mx-lg-auto col-xl-9" data-controller="story-editor">
  <ul class="nav justify-content-end story-editor-toolbar">
    <span class="nav-link disabled"
          data-target="story-editor.saveStatus">New Story</span>
    <a class="nav-link text-secondary" href="#">Preview</a>
    <a class="nav-link text-success dropdown-toggle"
       data-action="story-editor#toggleSettings"
       href="#">Publish</a>
  </ul>

  <div id="story_settings"
       class="collapse"
       data-id="<%= story.id %>"
       data-target="story-editor.settings">
    <%= render 'meta_form' %>
  </div>

  <div class="form-group">
    <textarea autofocus="true"
              class="form-control story-editor"
              placeholder="Write your story..."
              data-action="input->story-editor#onChange"
              data-target="story-editor.text"
              ><%= story.content %></textarea>
  </div>
</div>

