<li class="list-group-item d-flex">
  <%= user_avatar @user, resize: "256x256", html: { class: "rounded-circle mr-3 avatar-48" } %>

  <div class="w-100">
    <div class="d-flex justify-content-between">
      <h6><%= @user.name %></h6>

      <span class="small text-secondary">
        <%= time_ago_in_words story.created_at %>
      </span>
    </div>

    <% if story.subtitle.present? %>
      <p>
        <%= story.subtitle %>
      </p>
    <% end %>
  </div>
</li>
