<div class="my-4 col-12 col-lg-10 mx-lg-auto col-xl-9">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a id="story_editor_write" href="#" class="active nav-link text-dark">Write</a>
        </li>
        <li class="nav-item">
          <%= link_to "Preview", preview_stories_path, id: "story_editor_preview", class: "nav-link text-dark" %>
        </li>
      </ul>
    </div>

    <div class="card-body p-2" id="editor_content">
      <%= form_for @story, remote: true do |f| %>
        <%= f.text_area :content,
          class: "mb-2 form-control js-autosize md-editor",
          autofocus: true,
          rows: 4, placeholder: "Write your story..." %>

        <%= f.submit class: "btn btn-success float-right" %>
      <% end %>
    </div>

    <div class="card-body py-2 px-4 d-none" id="editor_preview">
      Preview
    </div>
  </div>
</div>
