.pod {
  cursor: pointer;

  &-content {
    white-space: pre-wrap;
  }

  &-body {
    min-width: 0;
  }

  &-story-thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
}

.font-size-lecture {
  font-size: 1.05rem;
}

.actions {
  .action {
    display: inline-block;
    min-width: 78px;

    .btn-action {
      color: $gray-600;
      border: none;
      background: transparent;

      &:hover {
        background: $gray-200;
      }

      img.action-icon {
        width: 18px;
        height: 18px;
      }

      i.action-icon {
        font-size: 18px;
        line-height: 18px;
        vertical-align: middle;
      }

      .action-count {
        font-size: 0.85rem;
        margin-left: 8px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .action {
      min-width: 90px;
    }
  }
}
