.avatar-big-wrapper {
  max-width: 258px;
  max-height: 258px;
  min-width: 258px;
  min-height: 258px;
}

.avatar-48 {
  max-width: 48px;
  max-height: 48px;
  min-width: 48px;
  min-height: 48px;
}

.avatar-33 {
  max-width: 33px;
  max-height: 33px;
  min-width: 33px;
  min-height: 33px;
}

.avatar-control {
  .error {
    color: $danger;
    margin: 0;
  }

  .is-default {
    .too-small,
    .too-big,
    .loading,
    .failure,
    .img {
      display: none;
    }
  }

  .is-big {
    .too-big {
      display: block;
    }
  }

  .is-small {
    .too-small {
      display: block;
    }
  }

  .is-loading {
    .loading {
      display: block;
    }
  }

  .has-failure {
    .failure {
      display: block;
    }
  }

  .is-img {
    .img {
      display: block;
    }
  }
}
