@import '~bootstrap/scss/functions';
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~croppie/croppie';

@import 'avatars';
@import 'home';
@import 'footer';
@import 'story';
@import 'profile';
@import 'pages/pods';

html {
  min-height: 100%;
}

body {
  overflow-x: auto;
  overflow-y: scroll;
}

.navbar-avatar {
  max-width: 30px;
  max-height: 30px;
  margin: -8px 0;
  min-width: 30px;
  min-height: 30px;
}

.user-dropdown {
  padding: 0.2rem 1.5rem;
}

.alert-notice {
  @extend .alert-success;
}

.alert-error,
.alert-alert {
  @extend .alert-danger;
}

.navbar-default {
  background-color: $white;

  .navbar-brand {
    color: $gray-900;
    font-weight: $font-weight-bold;
  }
}

.messages {
  margin-top: -1px;
}

.md-editor {
  line-height: 1.4;
  max-height: calc(100vh - 320px);
  min-height: 200px;
}

.edit_story {
  .form-group {
    margin: 0;
  }
}

blockquote {
  border-left: 3px solid $gray-400;
  font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 8px 24px;

  p {
    margin: 0;
  }
}

.text-pink {
  color: $pink !important;
}

.form-check-input {
  margin-top: 0.2rem;
}
