<li class="list-group-item d-flex">
  <%= user_avatar pod.user, resize: "256x256", html: { class: "rounded-circle mr-3 avatar-48" } %>

  <div class="w-100">
    <div class="d-flex justify-content-between">
      <h6><%= pod.user.name %></h6>

      <span class="small text-secondary">
        <%= time_ago_in_words pod.created_at %>
      </span>
    </div>

    <p>
      <%= pod.content %>
    </p>
  </div>
</li>

