@import "bootstrap/functions";
@import "variables";
@import "bootstrap";

.alert-notice {
  @extend .alert-success;
}

.alert-error, .alert-alert {
  @extend .alert-danger;
}

.navbar-default {
  background-color: $white;

  .navbar-brand {
    color: $gray-900;
    font-weight: $font-weight-bold;
  }

  .navbar-nav li a {
    color: $gray-900;
  }
}

.messages {
  margin-top: -1px;
}
