<div class="content-wrapper">
  <%= render 'layouts/nav' %>
  <%= render 'layouts/messages' %>

  <div id="content-body" class="container mt-3">
    <div class="row">
      <%= yield %>
    </div>
  </div>
</div>

